<%-include('../../Header.ejs')%>
<div class="container mt-1 mb-3">
    <div class="row">
        <div class="col-md-12">
            <%-include('../components/adminsidebar.ejs')%>
        </div>
        <div class="col-md-12">
            <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 mt-3 doubleBg shadow-lg p-4 rounded">
            <center><h2 class="mb-5 headingText"><i class="fa-solid fa-list-ol"></i> Blog List</h2></center>
            <div class="overflow-x auto">
                <table class="table text-white" id="myTable">
<thead>
    <th>#</th>
    <th>TITLE</th>
    <th>Description</th>
    <th>Blog Image</th>
    <th>Action</th>
</thead>
<tbody>
  <% 
  var i=1
  result.forEach((item)=>{
 %>
    <tr>
        <td><%=i++%></td>
        <td><%=item.name%></td>
        <td><%=item.description%></td>
        <td><img src="<%=item.image.url%>" alt="" style="width:100px; height:50px"></td>
        <td class="d-flex flex-nowrap gap-20px text-white">
            <a href="/admin/viewBlog/<%=item._id %>" class="button-85 text-decoration-none">View</a>
            <a href="/admin/editBlog/<%=item._id%>" class="button-85 text-decoration-none">Edit</a>
            <a href="/admin/deleteblog/<%=item._id%>" class="button-85 text-decoration-none">Delete</a>
        </td>
    </tr>
    <%})%> 
</tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>